@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

:root {
  --Violet: hsl(257, 40%, 49%);
  --Soft-Magenta: hsl(300, 69%, 71%);
  --white: #fff;
  --shadow: #0005;
}

*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a,
button {
  font-size: inherit;
  border: none;
}

body {
  min-height: 100dvh;
  font-weight: 100vh;
  background-color: var(--Violet);
  background-image: url(images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}

header, main, footer {
    padding: 0 2.4em;
}

header {
    padding-top: 2em;
}

header img {
    width: 125px;
}

main .illustration {
    margin-top: 3.5em;
    display: flex;
}

main .illustration img {
    width: 100%;
    height: auto;
}

main .text-contents {
    margin-top: 4em;
    text-align: center;
}

.text-contents h1 {
    color: var(--white);
    font-size: 1.6rem;
    margin-bottom: .5em;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 1.5;
}

.text-contents p {
    color: var(--white);
    line-height: 1.5;
    margin-bottom: 1.5em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.text-contents button {
    background: var(--white);
    max-width: 200px;
    width: 100%;
    border-radius: 2em;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    -ms-border-radius: 2em;
    -o-border-radius: 2em;
    padding: .8em ;
    color: var(--Violet);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    box-shadow: 0 2px 5px 0 var(--shadow);
}

.text-contents button:hover {
    background: var(--Soft-Magenta);
    color: var(--white);
}

footer {
    padding:4em 0 2.5em 0;
    display: grid;
   place-items: center;
}

footer ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 1em;
    
}

footer ul li {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: grid;
    place-content: center;
    color: var(--white);
    border: 1px solid var(--white);
}

footer ul li:hover {
    color: var(--Soft-Magenta);
    border-color: var(--Soft-Magenta);
}

@media screen and (min-width: 162px) and (max-width:300px) {
    header, main, footer {
        padding: 0 .8em;
    }
    header {
        padding-top: .8em;
    }
    footer {
        padding-bottom: 1em;
    }
    header img {
        width: 80px;
    }

    main {
        margin:1em 0;
    }
    main .illustration {
        margin-top: 0;
    }
    main .text-contents {
        margin-top: 1.5em;
    }
    .text-contents h1 {
        font-size: 1.2rem;
    }
    .text-contents p {
        font-size: .85rem;
    }
    .text-contents button {
        font-size: .85rem;
        padding: .5em 0;
    }
    footer ul {
        gap: .5em;
    }
    footer ul li {
        width: 25px;
        height:25px;
    }

    footer ul li i{
        font-size: .85rem;
    }
}

/* large screen */
@media screen and (min-width: 768px) {
    body {
        background-image: url(images/bg-desktop.svg);
        background-size: cover;
    }

    header, main, footer {
        padding: 0 5%;
    }

    header {
        padding-top: 3.2em;
    }

    footer {
        padding-bottom: 3em;
    }

    header img {
        width: 213px;
    }

    main {
        display: grid;
        align-items: start;
        grid-template-columns: 54.8% 46%;
        margin-top:5em;
    }

    main .illustration {
        margin-top: 0em;
    }

    main .text-contents {
        margin-top: 2em;
        /* 2.8em; */
        text-align: left;
        margin-left: 3.25em;
    }

    .text-contents h1 {
        width: 90%;
        margin-bottom: .4em;
        font-size: 2.2rem;
    }

    .text-contents p {
        line-height: 1.6;
        font-size: 1.13rem;
        margin-bottom: 1.15em;
    }

    .text-contents button {
        padding: .8em ;
        color: var(--Violet);
        font-family: 'Poppins', sans-serif;
        font-weight: 00;
        font-size: 1.14rem;
    }

    footer {
        place-items: end;
        padding-top: 1.5em;
    }

    footer ul li {
        width: 40px;
        height: 40px;
    }
}

@media screen and (min-width: 1200px) {
    main .text-contents {
        margin-top: 2.8em;
        /* 2.8em; */
    }
    .text-contents h1 {
        font-size: 2.48rem;
    }
}